# Compiler files
cache/
out/

# Broadcast logs
broadcast/

# Docs
docs/

# Dotenv files other than .env.example
.env*
!.env.example

# Scripts other than base, example, and upgrade scripts
scripts/
!scripts/BaseDeploy.s.ts
!scripts/ExampleDeploy.s.ts
!scripts/Upgrade.s.ts

# JetBrains IDEs
.idea/

# Dependencies
lib/

# Coverage reports
lcov.info
