# Compiler files
cache/
out/

# Broadcast logs
broadcast/

# Docs
docs/

# Dotenv files other than .env.example
.env*
!.env.example

# Custom scripts
script/*.s.sol
!script/BaseDeploy.s.sol
!script/ExampleDeploy.s.sol
!script/Upgrade.s.sol

# JetBrains IDEs
.idea/

# Dependencies
lib/

# Coverage reports
lcov.info

# Slither reports
mutation_campaign/
mutation.results
*.DS_Store